<!doctype html>

<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->

{# <head> #}
{% include 'header/_head.twig' %}
{# </head> #}

<body class="{{ body_class }}">
{# <div class="pageloader is-active"></div> #}

<div id="app">

<header class="Header">
    <div class="Header__inner">
        <a href="{{ site.url }}" class="Header__logo">
            <img src="{{ logo }}" alt="">
        </a>
        {% include 'header/_nav.twig' %}
    </div>
    {% include 'header/_submenu.twig' %}
</header>

{% include 'header/_mobile-nav.twig' %}
